<div class="jumbotron">
    <div class="container">        
        <div class="row">
            <div class="d-flex justify-content-center">                
                <div *ngFor="let lista of listaDeJogadasAcertadas" class="col-sm-1">
                    <input disabled="true" [value]="lista" type="text" class="form-control text-center" />
                </div>
            </div>
        </div>
        <div class="col text-center alinhar">
            <p style="color:red;">Erros.</p>
            <p style="color:red;">{{listaDeJogadasErradas.toString()}}</p>
            <p>Digite uma letra.</p>
            <input type="text" autofocus (input)="atualizaLetra($event)" [value]="letraJogada" class="form-control text-center" />
            <button class="btn btn-primary btn-lg alinhar" (click)="jogar()">Jogar</button>
        </div>

    </div>
</div>